<%- include('../../partials/header.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%- include('../../partials/sidebar.ejs')  %>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <h4 class="text-secondary text-center my-3 pb-2">Change password</h4>
          <div class="change-password mt-4">
            <form action="/auth/changepassword" method="post">
              <div class="mb-3">
                <label for="oldpassword" class="form-label">Enter your old password</label>
                <input type="password" class="form-control" id="oldpassword" name="oldpassword">
              </div>
              <div class="mb-3">
                <label for="newpassword" class="form-label">Enter a new password</label>
                <input type="password" class="form-control" id="newpassword" name="newpassword">
              </div>
              <div class="mb-3">
                <label for="confirmpassword" class="form-label">Confirm password</label>
                <input type="password" class="form-control" id="confirmpassword" name="confirmpassword">
              </div>
              <input type="submit" class="btn btn-primary" value="Update now">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../../partials/footer.ejs') %>
</body>
</html>