  <div class="footer bg-dark text-white bg-opacity-75">
    <p class="d3 text-center py-3">Copyright &copy; 2022. Swadip Singho Roy</p>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>