<nav class="navbar navbar-expand-lg bg-dark bg-opacity-75">
  <div class="container">
    <a class="navbar-brand text-light" href="/">Blogpost-App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if (isloggedIn) { %>
          <li class="nav-item">
            <a class="nav-link text-light" aria-current="page" href="/explorer">Explorer</a>
          </li>
          <% } %> 
        <% if (isloggedIn) { %>
          <li class="nav-item">
            <a class="nav-link text-light" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/auth/logout">Logout</a>
          </li>
        <% } else{ %>
          <li class="nav-item">
            <a class="nav-link text-light" aria-current="page" href="/explorer">Explorer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/auth/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/auth/signup">Sign up</a>
          </li>
        <% } %> 
      </ul>
      <form action="/search" method="get" class="d-flex" role="search">
        <input class="form-control me-2" type="search" name="searchTerm" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success text-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>